<div class="container">

  <div class="row header-row">
    <div class="row game-row">

      <div class="col-3">
        <div class="row header-container">
          <div class="col-12">
            <h1>Suika Adventure</h1>
          </div>
        </div>

        <div class="row timer-row">
          @if(gameLoseTimer$ | async) {
          <span>
            Failure in {{ gameLoseTimer$ | async | number }} seconds...
          </span>
          }
        </div>

        <div class="row rotary-row">
          <app-rotary></app-rotary>
        </div>
      </div>

      <div class="col-9 game-container">
        <app-suika-game></app-suika-game>
      </div>
    </div>


    <div class="row score-row mt-2">
      <div class="col-3 next-fruit-row">
        <app-next-fruit></app-next-fruit>
      </div>

      <div class="col-3 score-container">
        <p>Score: {{ score$ | async | number }}</p>
      </div>

      <div class="col-3 score-container">
        <p>Best Score: {{ bestScore$ | async | number }}</p>
      </div>

      <div class="col-3">
      </div>
    </div>

  </div>

</div>

<ng-template #gameOverModal let-modal>
  <div class="modal-header">
    <h4 class="modal-title">Game Over!</h4>
  </div>

  <div class="modal-body">
    you lost. restart?
  </div>

  <div class="modal-footer">
    <button type="button" class="btn btn-outline-light" (click)="modal.close()">Restart Game</button>
  </div>
</ng-template>